#n-heading{
    text-align: center;
}

#n-contentTab{
    width: 60%;
    justify-content: center;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

#noteCard{
    background-color: blueviolet;
    
}

#addNote{
    width: 60%;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 5px;
}

#accordion{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    padding: 5px;
}
 #new-header{
    width: 60%;
 }

 #noteContent{
    text-align: left;
 }

#headerInput{
    width: 30%;
}
#bodyInput{
    width: 60%;
}