#sb-heading{
    text-align: center;
}

#sb-contentTab{
    display: block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}


#addRecord{
    width: 50%;
    margin: 0 auto;
    text-align: right;
}

#add-entry{
    text-align: center;
}
#add-entry button{
    margin-top: 10px;
}

#record-modify button{
    font-size: small;
    text-align: center;
    padding-top: 0px;
    height: 25px;
}

#edit-entry{
    text-align: center;
}
#edit-entry button{
    margin-top: 10px;
}